.left-box{
    height: 100%;
    border-right: 2px solid $DarkViolet;
    justify-content: center;
    align-items: center;
    background-color: $Pink;
    padding: 20px;
    text-decoration: $DarkViolet;
    
}
